// Flex Row Start
@mixin flex-row-start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

// Flex Centered
@mixin flex-row-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

// Flex Centered Start
@mixin flex-row-cent-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

// Flex Column Center
@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Flex Column Start
@mixin flex-col-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

// Responsive Flex Row that becomes column on mobile
@mixin flex-row-responsive {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
